{% extends "base.jinja2" %}
{% block title %}Me{% endblock %}
{% block backscript %}
<script type="text/javascript">
	$.backstretch("static/style/images/bg/5.jpg");
</script>
{% endblock %}
{% block pagetext %}

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="introd">
О пользователе
</div>

<!-- Begin Blog Grid -->
<div class="blog-wrap">
	<!-- Begin Blog -->
	<div class="blog-grid">
		
 		<!-- Begin Standard Format -->
 		<div class="contents">
		 	<div class=ua>
			<h1 class="title">Логин пользователя:</h1>  <h2>{{onuser.name}}</h2>
			<br>
			<h1 class="title">О пользователе:</h1>
			<h2>{{onuser.aboutme}}</h2>
			</div>
		</div>
		<!-- End Standard Format --> 			
 	
 	</div>
	<!-- End Blog -->
</div>
<!-- End Blog Grid -->
{% endblock %}
