{% extends "base.jinja2" %}
{% block title %}Post{% endblock %}
{% block backscript %}
<script type="text/javascript">
	$.backstretch("static/style/images/bg/8.jpg");
</script>
{% endblock %}
{% block pagetext %}
<!-- Begin Wrapper -->
<div class="wrapper">

<!-- Begin Container -->
<div class="content">

		<!-- Begin Post -->
		<div class="post format-image box"> 

			<div class="details">
				<span class="icon-image">Дата: {{post.Cdate}}</span>
				<span class="comments">Автор: {{post.u_n}}</span>
			</div>
		
			<h1 class="title"><br>{{post.title}}</h1>
			<p class="content"><br>{{post.content}}</p>
		
		</div>
		<!-- End Post --> 	
	
</div>
<!-- End Container -->
{% endblock %}